<% include partials/header.ejs %>

<h2>Welcome Devils</h2>

<a href="/new_item_form">Add New Items</a><br>
<a href="/vendor_items">View Your Uploaded Items</a><br>
<a href="/all_items">View All Uploaded Items</a><br>

<% include partials/footer.ejs %>


